In [1]:
import pandas as pd

In [2]:
pd.read_excel('test.xlsx')

,key,CoCd,Account,Reference,Assignment,Bill.Doc.,Type,DocumentNo,Doc. Date,S,...,Curr.,Text,Clearing date,Clearing Document,Baseline Date,POD date\n,修正后的到期日,考核期末日期,Aging Days,Area
0,HH3117005108争议费用调整,HH31,17005108,争议费用调整,华北大润发预扣费用调整,NaN,DA,10000121,2024-03-28,X,...,RMB,华北大润发预扣费用调整,NaT,NaN,2024-03-28,NaT,2024-03-28,2024-04-30,33,MT3
1,HH3117005157调整争议费用,HH31,17005157,调整争议费用,华中大润发争议费用调整,NaN,DA,10000180,2024-04-26,X,...,RMB,华中大润发争议费用调整,NaT,NaN,2024-04-26,NaT,2024-04-26,2024-04-30,4,MT3
2,HH311700659004/30/2024,HH31,17006590,04/30/2024,3800324344,3.900320e+09,DA,10000199,2024-04-30,NaN,...,RMB,多付款,NaT,NaN,2024-04-29,2024-04-29,2024-04-29,2024-04-30,1,MT6
3,HH41170068758157045,HH41,17006875,8157045,4800658238,4.900838e+09,DA,10015017,2023-12-14,NaN,...,RMB,Keep payment difference in sub-ledger,NaT,NaN,2023-04-23,2023-02-11,2023-04-12,2024-04-30,384,MT1
4,HH411700807801/17/2024,HH41,17008078,01/17/2024,4800686487,4.900857e+09,DA,10001130,2024-01-17,NaN,...,RMB,Keep payment difference in sub-ledger-88985092,NaT,NaN,2023-10-25,2023-08-14,2023-10-30,2024-04-30,183,MT1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5015,HH4117009064122818332,HH41,17009064,122818332,4800714861,4.900880e+09,RV,4900011003,2024-01-31,NaN,...,RMB,NaN,NaT,NaN,2024-03-28,2024-01-31,2024-03-31,2024-04-30,30,MT1
5016,HH41170090644900882618,HH41,17009064,4900882618,4800715509,4.900883e+09,RV,4900016350,2024-02-29,NaN,...,RMB,NaN,NaT,NaN,2024-02-29,2024-02-05,2024-04-05,2024-04-30,25,MT1
5017,HH41170090644900885594,HH41,17009064,4900885594,4800720399,4.900886e+09,RV,4900023172,2024-03-27,NaN,...,RMB,NaN,NaT,NaN,2024-03-27,2024-03-20,2024-05-19,2024-04-30,-19,MT1
5018,HH41170090644900885595,HH41,17009064,4900885595,4800720680,4.900886e+09,RV,4900023173,2024-03-27,NaN,...,RMB,NaN,NaT,NaN,2024-03-27,2024-03-20,2024-05-19,2024-04-30,-19,MT1
5019,HH41170090644900885596,HH41,17009064,4900885596,4800720790,4.900886e+09,RV,4900023174,2024-03-27,NaN,...,RMB,NaN,NaT,NaN,2024-03-27,2024-03-20,2024-05-19,2024-04-30,-19,MT1

In [3]:
df_database = pd.read_excel('test.xlsx',sheet_name='database')
df_database

,key,CoCd,Account,Reference,Assignment,Bill.Doc.,Type,DocumentNo,Doc. Date,S,...,Curr.,Text,Clearing date,Clearing Document,Baseline Date,POD date\n,修正后的到期日,考核期末日期,Aging Days,Area
0,HH3117005108争议费用调整,HH31,17005108,争议费用调整,华北大润发预扣费用调整,NaN,DA,10000121,2024-03-28,X,...,RMB,华北大润发预扣费用调整,NaT,NaN,2024-03-28,NaT,2024-03-28,2024-04-30,33,MT3
1,HH3117005157调整争议费用,HH31,17005157,调整争议费用,华中大润发争议费用调整,NaN,DA,10000180,2024-04-26,X,...,RMB,华中大润发争议费用调整,NaT,NaN,2024-04-26,NaT,2024-04-26,2024-04-30,4,MT3
2,HH311700659004/30/2024,HH31,17006590,04/30/2024,3800324344,3.900320e+09,DA,10000199,2024-04-30,NaN,...,RMB,多付款,NaT,NaN,2024-04-29,2024-04-29,2024-04-29,2024-04-30,1,MT6
3,HH41170068758157045,HH41,17006875,8157045,4800658238,4.900838e+09,DA,10015017,2023-12-14,NaN,...,RMB,Keep payment difference in sub-ledger,NaT,NaN,2023-04-23,2023-02-11,2023-04-12,2024-04-30,384,MT1
4,HH411700807801/17/2024,HH41,17008078,01/17/2024,4800686487,4.900857e+09,DA,10001130,2024-01-17,NaN,...,RMB,Keep payment difference in sub-ledger-88985092,NaT,NaN,2023-10-25,2023-08-14,2023-10-30,2024-04-30,183,MT1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5015,HH4117009064122818332,HH41,17009064,122818332,4800714861,4.900880e+09,RV,4900011003,2024-01-31,NaN,...,RMB,NaN,NaT,NaN,2024-03-28,2024-01-31,2024-03-31,2024-04-30,30,MT1
5016,HH41170090644900882618,HH41,17009064,4900882618,4800715509,4.900883e+09,RV,4900016350,2024-02-29,NaN,...,RMB,NaN,NaT,NaN,2024-02-29,2024-02-05,2024-04-05,2024-04-30,25,MT1
5017,HH41170090644900885594,HH41,17009064,4900885594,4800720399,4.900886e+09,RV,4900023172,2024-03-27,NaN,...,RMB,NaN,NaT,NaN,2024-03-27,2024-03-20,2024-05-19,2024-04-30,-19,MT1
5018,HH41170090644900885595,HH41,17009064,4900885595,4800720680,4.900886e+09,RV,4900023173,2024-03-27,NaN,...,RMB,NaN,NaT,NaN,2024-03-27,2024-03-20,2024-05-19,2024-04-30,-19,MT1
5019,HH41170090644900885596,HH41,17009064,4900885596,4800720790,4.900886e+09,RV,4900023174,2024-03-27,NaN,...,RMB,NaN,NaT,NaN,2024-03-27,2024-03-20,2024-05-19,2024-04-30,-19,MT1

In [4]:
mt_record = pd.read_excel('test.xlsx',sheet_name='MT_Record')
mt_record

,key,COMP_CODE,DEBITOR,REF_DOC_NO,AC_DOC_TYP,AC_DOC_NO,POSTING_DATE,BASELINE_DATE,POD_DATE,PAYMENT_DATE,DEB_CRE_LC,GAP,Unnamed: 12
0,HH411700409519403725,HH41,17004095,19403725,RV,4900032989,2021-05-24,2021-08-15,2021-05-10,2021-08-15,30744.32,1065,NaN
1,HH41170068754900880456,HH41,17006875,4900880456,RV,4900012237,2024-02-05,2024-02-05,2023-10-11,2024-04-05,1515.90,142,NaN
2,HH41170090114900885508,HH41,17009011,4900885508,RV,4900023086,2024-03-27,2024-03-27,2024-03-13,2024-05-26,1833.76,-12,NaN
3,HH3117004166122443451,HH31,17004166,122443451,RV,3900002412,2024-04-22,2024-05-25,2024-04-22,2024-07-24,87140.61,-60,NaN
4,HH41170068754900880438,HH41,17006875,4900880438,RV,4900012219,2024-02-05,2024-02-05,2023-10-09,2024-04-05,2431.08,144,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7288,HH3117004166ZK170043-01,HH31,17004166,ZK170043-01,KD,23000220,2017-03-03,2017-03-25,NaT,2017-05-24,54321.57,2593,NaN
7289,HH4117002205ZK210022-15,HH41,17002205,ZK210022-15,KD,23001079,2021-04-20,2021-04-20,NaT,2021-05-20,246807.35,1106,NaN
7290,HH311700469623614275,HH31,17004696,23614275,RV,3900002080,2021-02-22,2021-02-23,NaT,2021-04-09,-515280.00,-90,NaN
7291,HH311700469643836114,HH31,17004696,43836114,RV,3900002542,2022-03-21,2022-03-22,NaT,2022-05-06,-2154.12,-90,NaN
7292,HH411700220538430299,HH41,17002205,38430299,RV,4900027002,2017-05-18,2017-05-18,NaT,2017-06-17,3608.09,2509,NaN

In [5]:
result = df_database.merge(mt_record,on='key',how='left')
result

,key,CoCd,Account,Reference,Assignment,Bill.Doc.,Type,DocumentNo,Doc. Date,S,...,REF_DOC_NO,AC_DOC_TYP,AC_DOC_NO,POSTING_DATE,BASELINE_DATE,POD_DATE,PAYMENT_DATE,DEB_CRE_LC,GAP,Unnamed: 12
0,HH3117005108争议费用调整,HH31,17005108,争议费用调整,华北大润发预扣费用调整,NaN,DA,10000121,2024-03-28,X,...,争议费用调整,DA,1.000012e+07,2024-03-28,2024-03-28,NaT,2024-03-28,1679000.00,33.0,NaN
1,HH3117005157调整争议费用,HH31,17005157,调整争议费用,华中大润发争议费用调整,NaN,DA,10000180,2024-04-26,X,...,调整争议费用,DA,1.000018e+07,2024-04-26,2024-04-26,NaT,2024-04-26,149120.00,4.0,NaN
2,HH311700659004/30/2024,HH31,17006590,04/30/2024,3800324344,3.900320e+09,DA,10000199,2024-04-30,NaN,...,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN,NaN
3,HH41170068758157045,HH41,17006875,8157045,4800658238,4.900838e+09,DA,10015017,2023-12-14,NaN,...,8157045,RV,4.900033e+09,2023-04-23,2023-04-23,2023-02-18,2023-06-22,31432.90,377.0,NaN
4,HH41170068758157045,HH41,17006875,8157045,4800658238,4.900838e+09,DA,10015017,2023-12-14,NaN,...,8157045,RV,4.900033e+09,2023-04-23,2023-04-23,2023-02-24,2023-06-22,22661.46,371.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359294,HH4117009064122818332,HH41,17009064,122818332,4800714861,4.900880e+09,RV,4900011003,2024-01-31,NaN,...,122818332,RV,4.900011e+09,2024-01-31,2024-03-28,2023-12-27,2024-05-27,1644.56,65.0,NaN
359295,HH41170090644900882618,HH41,17009064,4900882618,4800715509,4.900883e+09,RV,4900016350,2024-02-29,NaN,...,4900882618,RV,4.900016e+09,2024-02-29,2024-02-29,2024-02-05,2024-04-29,456.58,25.0,NaN
359296,HH41170090644900885594,HH41,17009064,4900885594,4800720399,4.900886e+09,RV,4900023172,2024-03-27,NaN,...,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN,NaN
359297,HH41170090644900885595,HH41,17009064,4900885595,4800720680,4.900886e+09,RV,4900023173,2024-03-27,NaN,...,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN,NaN
359298,HH41170090644900885596,HH41,17009064,4900885596,4800720790,4.900886e+09,RV,4900023174,2024-03-27,NaN,...,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN,NaN

In [6]:
s1 = df_database['key']
s2 = mt_record['key']
result = s1._append(s2)
result = result.drop_duplicates(keep=False)
result

2            HH311700659004/30/2024
4            HH411700807801/17/2024
44      HH411700642324442*177445697
46           HH41170064434970205541
57             HH411700807809870566
                   ...
7284        HH4117005922ZK210098-52
7285        HH4117002205ZK190059-03
7288        HH3117004166ZK170043-01
7289        HH4117002205ZK210022-15
7292           HH411700220538430299
Name: key, Length: 1090, dtype: object

In [7]:
df_database

,key,CoCd,Account,Reference,Assignment,Bill.Doc.,Type,DocumentNo,Doc. Date,S,...,Curr.,Text,Clearing date,Clearing Document,Baseline Date,POD date\n,修正后的到期日,考核期末日期,Aging Days,Area
0,HH3117005108争议费用调整,HH31,17005108,争议费用调整,华北大润发预扣费用调整,NaN,DA,10000121,2024-03-28,X,...,RMB,华北大润发预扣费用调整,NaT,NaN,2024-03-28,NaT,2024-03-28,2024-04-30,33,MT3
1,HH3117005157调整争议费用,HH31,17005157,调整争议费用,华中大润发争议费用调整,NaN,DA,10000180,2024-04-26,X,...,RMB,华中大润发争议费用调整,NaT,NaN,2024-04-26,NaT,2024-04-26,2024-04-30,4,MT3
2,HH311700659004/30/2024,HH31,17006590,04/30/2024,3800324344,3.900320e+09,DA,10000199,2024-04-30,NaN,...,RMB,多付款,NaT,NaN,2024-04-29,2024-04-29,2024-04-29,2024-04-30,1,MT6
3,HH41170068758157045,HH41,17006875,8157045,4800658238,4.900838e+09,DA,10015017,2023-12-14,NaN,...,RMB,Keep payment difference in sub-ledger,NaT,NaN,2023-04-23,2023-02-11,2023-04-12,2024-04-30,384,MT1
4,HH411700807801/17/2024,HH41,17008078,01/17/2024,4800686487,4.900857e+09,DA,10001130,2024-01-17,NaN,...,RMB,Keep payment difference in sub-ledger-88985092,NaT,NaN,2023-10-25,2023-08-14,2023-10-30,2024-04-30,183,MT1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5015,HH4117009064122818332,HH41,17009064,122818332,4800714861,4.900880e+09,RV,4900011003,2024-01-31,NaN,...,RMB,NaN,NaT,NaN,2024-03-28,2024-01-31,2024-03-31,2024-04-30,30,MT1
5016,HH41170090644900882618,HH41,17009064,4900882618,4800715509,4.900883e+09,RV,4900016350,2024-02-29,NaN,...,RMB,NaN,NaT,NaN,2024-02-29,2024-02-05,2024-04-05,2024-04-30,25,MT1
5017,HH41170090644900885594,HH41,17009064,4900885594,4800720399,4.900886e+09,RV,4900023172,2024-03-27,NaN,...,RMB,NaN,NaT,NaN,2024-03-27,2024-03-20,2024-05-19,2024-04-30,-19,MT1
5018,HH41170090644900885595,HH41,17009064,4900885595,4800720680,4.900886e+09,RV,4900023173,2024-03-27,NaN,...,RMB,NaN,NaT,NaN,2024-03-27,2024-03-20,2024-05-19,2024-04-30,-19,MT1
5019,HH41170090644900885596,HH41,17009064,4900885596,4800720790,4.900886e+09,RV,4900023174,2024-03-27,NaN,...,RMB,NaN,NaT,NaN,2024-03-27,2024-03-20,2024-05-19,2024-04-30,-19,MT1

In [8]:
result = result.to_frame()

In [9]:
result

                              key
2          HH311700659004/30/2024
4          HH411700807801/17/2024
44    HH411700642324442*177445697
46         HH41170064434970205541
57           HH411700807809870566
...                           ...
7284      HH4117005922ZK210098-52
7285      HH4117002205ZK190059-03
7288      HH3117004166ZK170043-01
7289      HH4117002205ZK210022-15
7292         HH411700220538430299

[1090 rows x 1 columns]

In [10]:
result.set_index('key',inplace=True)

In [11]:
result

Empty DataFrame
Columns: []
Index: [HH311700659004/30/2024, HH411700807801/17/2024, HH411700642324442*177445697, HH41170064434970205541, HH411700807809870566, HH311700883606468823, HH41170090114970203739, HH41170090644970205720, HH41170090644970205722, HH41170090644970205721, HH41170010324900889322, HH41170059224900889687, HH41170059224900889716, HH41170059224900889684, HH41170059224900889686, HH41170059224900889685, HH41170059224900889683, HH41170059224900889682, HH41170059224900889681, HH41170059224900889675, HH41170059224900889674, HH41170059224900889673, HH41170059224900889672, HH41170059224900889671, HH41170059224900889670, HH41170059224900889589, HH41170059224900889588, HH41170059224900889586, HH41170059224900889585, HH41170059224900889717, HH41170059224910170119, HH41170059224900889721, HH41170059224900889720, HH41170059224910170120, HH41170059224910170124, HH41170059224900889719, HH41170059224900889718, HH41170059224900889624, HH41170059224900889625, HH41170059224900889626, HH41170059224900889627, HH41170059224900889628, HH41170059224900889629, HH41170059224900889650, HH41170059224900889755, HH41170059224900889579, HH41170059224900889568, HH41170059224900889567, HH41170059224900889566, HH41170059224900889565, HH41170059224900889558, HH41170059224900889547, HH41170059224900889563, HH41170059224900889564, HH41170059224900889590, HH41170059224900889593, HH41170059224900889595, HH41170059224900889609, HH41170059224900889615, HH41170059224900889616, HH41170059224900889622, HH41170059224900889623, HH41170059224900889630, HH41170059224900889631, HH41170059224900889658, HH41170059224900889659, HH41170059224900889660, HH41170059224900889745, HH41170059224900889746, HH41170059224900889747, HH41170059224900889748, HH41170059224900889749, HH41170059224900889750, HH41170059224900889752, HH41170059224900889757, HH41170059224900889758, HH41170059224900889516, HH41170059224910170121, HH41170064234900889806, HH41170064234900889769, HH41170064234900889768, HH41170064234900889715, HH41170064234900889714, HH41170064234900889713, HH41170064234900889712, HH41170064234900889870, HH41170064234900889869, HH41170064234900889868, HH41170064234900889867, HH41170064234900889866, HH41170064234900889830, HH41170064234900889807, HH41170064234900889498, HH41170064234900889499, HH41170064234900889500, HH41170064234900889531, HH41170064234900889553, HH41170064234900889554, HH41170064234900889555, HH41170064234900889556, ...]

[1090 rows x 0 columns]

In [12]:
df_database.merge(result,left_index=True,right_index=True,how='inner')

Empty DataFrame
Columns: [key, CoCd, Account, Reference, Assignment, Bill.Doc., Type, DocumentNo, Doc. Date, S, Posted on, PayT, Pmnt date, DD, G/L, Amt in loc.cur., LCurr, Amount in DC, Curr., Text, Clearing date, Clearing Document, Baseline Date, POD date
, 修正后的到期日, 考核期末日期, Aging Days, Area]
Index: []

[0 rows x 28 columns]

In [13]:
df_database.columns

Index(['key', 'CoCd', 'Account', 'Reference', 'Assignment', 'Bill.Doc.',
       'Type', 'DocumentNo', 'Doc. Date', 'S', 'Posted on', 'PayT',
       'Pmnt date', 'DD', 'G/L', 'Amt in loc.cur.', 'LCurr', 'Amount in DC',
       'Curr.', 'Text', 'Clearing date', 'Clearing Document', 'Baseline Date',
       'POD date\n', '修正后的到期日', '考核期末日期', 'Aging Days', 'Area'],
      dtype='object')